.button {
    padding: 10px 15px;
    border: 1px solid #000;
    background-color: #FFF;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.primary {
    border: none;
    background-color: #000;
    color: #FFF;
}

.big {
    width: 100%;
}

.button:hover {
    background-color: #EEE;
}

.primary:hover {
    background-color: rgb(20, 20, 20)
}